

/* Font Styles */

#top {
  text-align: left;
	font-size: 110px;
	color: red;
  font-family: 'Niconne', cursive;
  -webkit-text-stroke-width: 1px;
  padding-left: 20px;
}

#top2 {
	font-family: 'Niconne', cursive;
	text-align: left;
	font-size: 40px;
	display: flex;
  color: red;
  justify-content: left;
  position: relative;
  line-height: 0.1;
  padding-left: 20px;
  padding-top: 10px;

}


/* Body & HTML Styles */

 body, html {
	background-image: url("dancestage.jpg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;;

}

h1 {
   font-size: 40px;
}

p, address {
  font-size: 20px;
  font-family: 'Rokkitt', serif;
  word-wrap: break-word;
}

div {
  width: 550px; 
  border: 1px solid red;
  padding-left: 10px;
  margin-left: 20px;
}

#subject {
  margin-left: 50px;
  font-family: 'Niconne', cursive;
  padding-left: 5px;
  padding-top: 10px;
  color: red;
}

#contact {
  background-color: white;
  opacity: 0.6;
  color: black;
}

.text {
  background-color: white;
  opacity: 0.6;
  color: black;
}

div.schedule {
  padding-bottom: 300px;  
}



/* Navigation Styles */
.navbar {
  opacity: 0.8;
}


/* Button Styles */
.btn {
  font-family: 'Liu Jian Mao Cao', cursive;
  background-color:transparent;
  -moz-border-radius:40px;
  -webkit-border-radius:40px;
  border-radius:40px;
  border:3px solid #ff0000;
  display:inline-block;
  cursor:pointer;
  color:black;
  font-size:20px;
  text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
  position: absolute;
  margin-left: 500px;
  -moz-box-shadow: 0px 0px 40px red;
  -webkit-box-shadow: 0px 0px 40px red;
  box-shadow: 0px 0px 40px red;
  
}
.btn:hover {
  background-color:transparent;
  font-family: 'Liu Jian Mao Cao', cursive;
  -moz-box-shadow: 0px 0px 40px black;
  -webkit-box-shadow: 0px 0px 40px black;
  box-shadow: 0px 0px 40px black;
}
.btn:active {
  position:relative;
  top:1px;
}

@keyframes .btn {
  0% {
    font-size: 10px;
  }
  30% {
    font-size: 15px;
  }
  100% {
    font-size: 12px;
  }
}


/*Footer Styles*/
footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
   opacity: 0.8;
}

// Calendar Styles

div.title {
    font: x-large Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    height: 40px;
    background-color: red;
    color:  black;
    }
/* Styling for the footer */
div.footer {
    font: small Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    }
/* Styling for the overall table */
table {
    font: 100% Verdana, Arial, Helvetica, sans-serif;
    table-layout: fixed;
    border-collapse: collapse;
    width: 70%;
    margin-left: 20px;
    margin-top: 20px;
    }
/* Styling for the column headers (days of the week) */
th {
    padding: 0 0.5em;
    text-align: center;
    background-color: darkgrey;
    color:white;
    font-size: 15px;
    }
/* Styling for the individual cells (days) */
td  {     
    font-size: small;
    padding: 0.25em 0.25em;   
    width: 30%; 
    height: 30px;
    text-align: left;
    vertical-align: top;
    background-color: white;
    opacity: 0.6;
    color: black;

    }
/* Styling for the date numbers */
.date  {     
    font-size: small;
    padding: 0.25em 0.25em;   
    text-align: left;
    vertical-align: top;
    }
/* Class for individual days (coming in future release) */
.sun {
     color:red;
     }
/* Hide the month element (coming in future release) */
th.month {
    visibility: hidden;
    display:none;
    }

#noclasses {
  text-align: center;
  font-weight: bolder;
  font-style: italic;
  color: red;
}

#classes {
  text-align: center;
}

